.App {
  text-align: center;
  align-items: right;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 15px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-button{
  background-color: 'green';
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .rt-tr-group .rt-tr[role="row"] {

      background-image: url('./pexels-photo-305821.jpg');
      background-size: 'contain';
      background-position: 'center';
      background-repeat: 'no-repeat';
      color:'white';
} */
